<!DOCTYPE html>
{% extends 'base_generic.html' %}
{% block content %}
<h3>{{ studentd.name }}</h3>
<p>{{ studentd.adm_no }}</p>
<p>{{ studentd.reg_no }}</p>
<p>{{ studentd.course }}</p>

<table class="table table-stripped">
    {% for c in studentd.mark_set.all %}

    <tr>
        <td>
            <p>{{ c.sub.id }}</p>
        </td>
        <td>
            <p>{{ c.sub.name }}</p>
        </td>
        <td>
            <p>{{ c.sub.sem }}</p>
        </td>
        <td>
            <p>{{ c.s_mark1 }}</p>

        </td>
        <td>
            <p>{{ c.s_mark2 }}</p>
        </td>

    </tr>
    {% endfor %}
</table>

{% endblock %}