<!DOCTYPE html>
{% extends 'base_generic.html' %}
{% block content %}
{% load static %}
<div class="collapse navbar-collapse" id="navbarResponsive">
<table class="table">
<tr>
    <td>Name</td>
    <td>{{ student.name }}</td>
</tr>
<tr>
    <td>Admission No:</td>
    <td>{{ student.adm_no }}</td>
</tr>
    <tr>
        <td>Register No</td>
        <td>{{ student.reg_no }}</td>
    </tr>
<tr>
    <td>Course</td>
    <td>{{ student.course }}</td>
</tr>
    <tr>
    <td>Tutor</td>
    <td>{{ student.tutor }}</td>
</tr>
</table>
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    SEMESTER
                </th>
                <th>
                    SUBJECT
                </th>
                <th>
                    FIRST INTERNAL
                </th>
                <th>
                    SECOND INTERNAL
                </th>
            </tr>
                {% for mark in student.mark_set.all %}
            <tr>
                <td>
                    {{ mark.sub.sem }}
                </td>
                <td>
                    {{ mark }}
                </td>

                <td>
                    {{ mark.s_mark1 }}
                </td>
                <td>
                    {{ mark.s_mark2 }}
                </td>
                {% if perms.ncas.change_mark %}
                <td>
                    <a class="btn btn-primary" href="{% url 'ncas:markcreate' mark.pk %}">Add Mark</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}